/* Add CSS Styling */

p {
    background-color: pink;
    font-family: verdana, dejaVu Sans, sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}